!!!
html
    head
        title
            |WebService API

        script(type='text/javascript', src='{{ STATIC_URL }}bower_components/jquery/dist/jquery.min.js')
        script(type='text/javascript', src='{{ STATIC_URL }}bower_components/angular/angular.min.js')
        script(type='text/javascript', src='{{ STATIC_URL }}bower_components/angular-sanitize/angular-sanitize.min.js')

        script(type='text/javascript', src='{{ STATIC_URL }}bower_components/foundation/js/foundation.min.js')
        link(rel='stylesheet', href='{{ STATIC_URL }}bower_components/foundation/css/foundation.min.css')

        script(type='text/javascript', src='{{ STATIC_URL }}scripts/app.js')

        script(type='text/javascript')
            |angular.module('apitest').value('$sendRequestUrl', '{% url "send_request" %}')


    body(ng-app='apitest', ng-controller='MainCtrl', ng-cloak='')
        div(class='panel')
            form(ng-submit='sendRequest()')
                div(class='row')
                    div(class='large-9 columns')
                        label URL
                            input(type='text', placeholder='Введите url', ng-model='form.url')
                    div(class='large-3 columns')
                        label URL
                            select(ng-model='form.method')
                                option(value='GET') GET
                                option(value='POST') POST

                div(class='row')
                    div(class='large-12 columns')
                        ul(class='tabs', data-tab)
                            li(class='tab-title active')
                                a(href='#panel1')
                                    |Headers
                            li(class='tab-title')
                                a(href='#panel2')
                                    |Params

                        div(class='tabs-content')
                            div(class="content active", id="panel1")
                                div(class='row', ng-repeat='header in headers')
                                    div(class='large-3 columns')
                                        input(type='text', placeholder='Название', ng-model='header.name')
                                    div(class='large-9 columns')
                                        input(type='text', placeholder='Значение', ng-model='header.value')

                                div(class='button tiny', ng-click='addHeader()') +

                            div(class="content", id="panel2")
                                div(class='row', ng-repeat='param in params')
                                    div(class='large-3 columns')
                                        input(type='text', placeholder='Название', ng-model='param.name')
                                    div(class='large-9 columns')
                                        input(type='text', placeholder='Значение', ng-model='param.value')

                                div(class='button tiny', ng-click='addParam()') +

                div(class='row')
                    div(class='large-12 columns')
                        button(type='submit' class='button small') Отправить запрос

        h4
            |Status: {<{ response.status }>}

        div(class='panel', id='response')

        script
            | $(document).foundation();
            | $(document).foundation('tab', 'reflow');